.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  background-color: rgba(198, 253, 255, 0.9);
  color: rgb(8, 8, 8);
  position: absolute;
  top: 28px;
  bottom: 28px;
  left: 42px;
  right: 42px;
  border-radius: 5px;
  padding: 28px;
  text-align: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  transform: perspective(50em) rotateX(-90deg)
}

.project-info p {
  font-size: 100%;
}

.projectImg:hover + .project-info,
.project-info:hover {
  opacity: 1;
  transition: .5s;
  transform: rotateX(0deg)
}

#project-button {
  color: rgb(198, 253, 255) !important;
  border: rgb(172, 0, 86) solid 1px !important;
  background-color: rgb(172, 0, 86) !important;
  margin: 5px;
  width: 40px;
  padding-left: 0;
}

.arrow {
  margin: 0 !important;
}

i {
  margin: 0 !important;
}

.visible {
  margin: 0 !important;
}

h1 {
  margin-bottom: 5px !important;
}