#contact-col {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info {
  color: rgb(12, 214, 221);
}

#contact-title-container {
  padding-bottom: 2.5px;
}

#email-link {
  font-size: 115%;
  margin-bottom: 15px;
}

#email-link:hover {
  color: rgb(202, 0, 84);
}