.expert-section {
  width: 100%;
  height: 350px;
  background-color: rgb(175, 252, 255, .1);
  padding: 50px;
  padding-right: 80px;
}

.expert-section h1 {
  margin-top: 40px;
}

.expert-section p {
  text-align: left;
}

.server-align {
  margin-left: -3.5px !important;
}

.cog-align {
  margin-left: -6.5px !important;
}

.lock-align {
  margin-left: -7px !important;
}