#nav-container {
  min-height: 100vh;
  background-color: #1bbec3;
  margin-left: 0;
  margin-right: 7.5%;
  color: rgb(8, 8, 8);
  text-align: center;
  position: fixed;
  width: 278px;
  bottom: 0;
  top: 0;
}

#nav-row {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

#nav-row::-webkit-scrollbar {
  display: none;
}

#nav-column {
  position: relative;
  height: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}

#cover-photo {
  width: 150px;
  margin: 50px auto;
  margin-bottom: 25px;
}

#name {
  margin-bottom: 5px;
  margin-top: 0;
}

#brief {
  padding-bottom: 55px;
  margin-bottom: 0;
  border-bottom: #83e7eb 2px solid;
}

.nav-item-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #83e7eb 2px solid;
}

.nav-item-container:hover {
  background-color: #83e7eb;
}

.nav-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(8, 8, 8);
  font-size: 17px;
  font-weight: bold;
}

.nav-item:hover {
  color: rgb(172, 0, 86);
}

#links-container {
  margin: 35px 0 50px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 2.5px;
  color: rgb(8, 8, 8);
}

.link:hover {
  color: #affcff;
}

#copyright {
  padding-bottom: 64px;
}