* {
  overflow-x: hidden;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto !important;
  padding-bottom: 75px !important;
}

#root {
  background: url("../../images/mtn-background.png") center center fixed;
  background-size: cover;
  color: whitesmoke;
}

body {
  background-color: rgb(12, 12, 12) !important;
}

::-webkit-scrollbar {
  display: none;
}

#form label {
  color: whitesmoke;
}

#main-col {
  padding: 0 5%;
}

#nav-col {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 767px) {
  .main-container {
    width: 100% !important;
    display: block !important;
  }

  #main-col {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}