.main-container {
  max-width: 1500px;
  margin: 0 auto !important;
}

#root {
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
  min-height: 100%;
  display: block;
  /* always make the container with position: relative in order to apply sticky footer */
  position: relative;
}

#form label {
  color: whitesmoke;
}

#main-col {
  padding: 0 7.5% 100px 7.5%;
}

#nav-col {
  padding-left: 0;
  padding-right: 0;
}

/* at 1280px, make nav flush with left hand side of page (left padding & margin = 0) */