.main-container {
  max-width: 1500px;
  margin: 0 auto !important;
}

#root {
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
  min-height: 100%;
  display: block;
  /* always make the container with position: relative in order to apply sticky footer */
  position: relative;
  padding: 0 2.5% 100px 2.5%;
}

#form label {
  color: whitesmoke;
}

/* at 1280px, make nav flush with left hand side of page (left padding & margin = 0) */